@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0f1f;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif), Georgia, serif;
}
